@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "PPA Grandir", "Space Grotesk", sans-serif;
  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@font-face {
  font-family: "PPA Grandir";
  src: url("/fonts/PPAGrandir-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPA Grandir";
  src: url("/fonts/PPAGrandir-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPA Grandir";
  src: url("/fonts/PPAGrandir-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 9999px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}
